.DS_Store
.venv/
.jupyter/
.ipython/
.matplotlib/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Large intermediate ChIP-seq files
*.fastq
*.fastq.gz
*.sam
*.bam
*.bai
*.bw
*.bigWig
*.matrix.gz
work/

